* {
  margin: 0;
  padding: 10px 10px;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #ffffff;
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(#061a21, #0d4455);
}

/* Top Menu */

@media only screen and (min-width: 240px) {
  .navigationSpacer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .icon-item {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 650;
    font-size: 24px;
    color: #1ce783;
  }

  .icon i:hover {
    background-color: #363d45;
    border-radius: 25px;
  }
}

@media only screen and (min-width: 240px) {
  .nav {
    justify-content: space-between;
    display: flex;
    align-items: center;
  }

  .navMenu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    font-size: 25px;
  }

  .navMenu i:hover {
    background-color: #363d45;
    border-radius: 25px;
  }

  .navMenu li {
    display: inline-block;
  }

  .navMenu a {
    text-decoration: none;
    padding: 5px 15px;
    color: #9ea2a5;
    transition: color 100ms;
  }

  .navMenu a:hover {
    color: #fbfeff;
    border-radius: 5px;
    background-color: #363d45;
  }
}

/* Movies For You Section */

@media only screen and (min-width: 240px) {
  .mainBodyContainer {
    text-align: left;
    max-width: 1600px;
  }
}

/* Big Main Cards */
@media only screen and (min-width: 240px) {
  .mainCardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-decoration: none;
  }

  .card {
    width: 600px;
    flex-direction: row;
    margin-bottom: 15px;
    text-decoration: none;
  }

  .cardPreviewImage {
    object-fit: contain;
    width: 100%;
  }

  .movieTitle {
    color: white;
    font-weight: 500;
  }

  .movieDescription {
    color: white;
    opacity: 0.5;
  }
}

.card {
  width: 30%; /* Adjust as needed */
  flex-shrink: 0; /* Prevent cards from shrinking */
  margin-right: 20px; /* Add some spacing between cards */
}

.card:last-child {
  margin-right: 0; /* Remove right margin from the last card */
}

.miniCards {
  display: flex;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  scroll-snap-type: mandatory;
  white-space: nowrap;
}

.miniCards::-webkit-scrollbar {
  display: none;
}

.movieDescriptionSmall {
  margin-top: -20px;
  opacity: 0.8;
}

.cardPreviewImage {
  border-color: #3c4764;
  object-fit: contain;
  width: 100%;
}

.card:hover {
  background-color: #757f9b7d;
  transition: background-color 100ms;
}

@media only screen and (max-width: 768px) {
  .card {
    width: 45%; /* Adjust as needed for smaller screens */
  }
}

@media only screen and (max-width: 480px) {
  .card {
    width: 100%; /* Adjust as needed for mobile screens */
    margin-right: 0; /* Remove margin for better responsiveness */
  }
}

/* Footer */

@media only screen and (min-width: 240px) {
  .footerContainer {
    text-align: center;
    justify-content: center;
  }

  .footer {
    font-size: 35px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
  }
}
