* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #ffffff;
  scroll-behavior: smooth;
}

body {
  background-color: #131630;
  margin: 0 auto;
  max-width: 1600px;
}

/* Top Menu */

.topHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  font-size: 16px;
}


.navMenu li {
  display: inline;
  margin: 10px;
}

.navMenu a {
  text-decoration: none;
}

.navMenu a:hover {
  text-decoration: underline;
  color: #7ad7cd;
  transition: color 100ms;
}

/* About Me */

.landingPageDetails {
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-size: 16px;

  h4 {
    margin-bottom: 10px;
  }

  .landingDescription {
    opacity: 0.75;
  }
}

/* Project Section */

.sectionPageDetails {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.sectionDescription {
  height: 8vh;
  margin-bottom: 15px;
  text-align: center;

  h1 {
    margin-bottom: 10px;
  }
}

.sectionDescription a:hover {
  text-decoration: underline;
  color: #7ad7cd;
  transition: color 100ms;
}

/* Cards */

.projectCardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-decoration: none;
  padding: 1em;
}

.card {
  width: 485px;
  padding: 20px;
  flex-direction: column;
  background-color: #1f224a;
  border-radius: 20px;
  text-align: left;
  margin-bottom: 15px;
  text-decoration: none;
}

.cardPreviewImage {
  border-radius: 6px;
  border-color: #3c4764;
  object-fit: contain;
  width: 100%;
}

.projectCardsContainer :hover {
  background-color: #3c4764;
  transition: background-color 100ms;

  .projectTitle {
    color: #7ad7cd;
    transition: color 100ms;
  }
}

.projectTitle {
  color: white;
  font-weight: 500;
  margin-top: 10px;
}

.projectDescription {
  color: white;
}

/* Footer */

@media only screen and (min-width: 240px) {
  .footerContainer {
    margin-top: 25vh;
    text-align: center;
  }

  .footerIcons {
    list-style: none;
    font-size: 32px;
  }

  .footerItem a {
    display: inline;
    flex-direction: row;
    align-items: center;
  }

  .footerItem :hover {
    color: #7ad7cd;
    transition: color 0.1s;
  }
}
